per_sent = {"TKB":5.6,"SKB":5.9,"VTB":4.28,"SBER":4.0}
money = float(input("Введите сумму:"))
TKB = float((per_sent["TKB"])*(money/100))
SKB = float((per_sent["SKB"])*(money/100))
VTB = float((per_sent["VTB"])*(money/100))
SBER = float((per_sent["SBER"])*(money/100))
deposit = {"TKB":TKB,"SKB":SKB,"VTB":VTB,"SBER":SBER}
print(deposit)
max_val = max(deposit.values())
print("Максимальная сумма по вкладу:",(round(max_val,3)))
